<div class="container">
  <div class="row">
    <div class="col-12">
      <app-contact></app-contact>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a routerLinkActive="active" routerLink="/home" rel="noopener noreferrer">Home</a>
        </li>
        <li class="list-inline-item">
          <a routerLinkActive="active" routerLink="/template-forms" rel="noopener noreferrer">Template Forms</a>
        </li>
        <li class="list-inline-item">
          <a routerLinkActive="active" routerLink="/reactive-forms" rel="noopener noreferrer">Reactive Forms</a>
        </li>
        <li class="list-inline-item">
          <a routerLinkActive="active" routerLink="/dynamic-forms" rel="noopener noreferrer">Dynamic Forms</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
